.newsfeed {
  &__header {
    margin-bottom: 12px;
  }
  &__list {

    &--item {
      margin-bottom: 12px;
    }
    &--card {
      padding: 12px;
    }
    &--name {
      font-size: 11px;
      padding-bottom: 6px;
    }
    &--headline {
      font-size: 13px;
      line-height: 22px;
      padding-bottom: 6px;
    }
    &--body {
      font-size: 12px;
    }
  }
}