@import '../../../assets/styles/helpers/variables';

.member-list {
  background: $white;
  border: $base-border;
  border-radius: 4px;
}

.member-item {
  border-bottom: 1px solid $gray-light;
  &:last-of-type {
    border-bottom: none;
  }
  :hover {
    background: $blue-white;
    text-decoration: none;
  }
  a {
    display: block;
    padding: $small-spacing;
  }
}
