@import '../../../assets/styles/helpers/variables';

.comment-item {
  margin-right: $base-spacing;
  margin-bottom: $small-spacing;
}

.comment-text {
  display: inline-block;
  background: $gray-lightest;
  padding: 6px 12px;
  border-radius: 24px;
}

.team-name {
  color: $blue-gffl;
}

.comment-date {
  color: $gray;
  margin-left: 12px;
}
