@import '../../assets/styles/app';

.league {
  padding-top: $small-spacing; // TODO: remove margin top and set margin in layout
  background-color: $gray-lightest;
  padding-bottom: $medium-spacing;
}