@import '../../../assets/styles/helpers/variables';

.score-card {
  width: 100%;
  background: $white;
  margin-bottom: 24px;
  border: 1px solid $gray-light;
  border-radius: $card-border-radius;
  overflow: hidden;
}

.score-row {
  display: flex;
  border-bottom: 1px solid $gray-light;
  &:last-of-type {
    border-bottom: 0;
  }

  &__name {
    flex: 4;
    font-weight: bold;
    padding: 12px 0 12px 16px;
  }
  &__points {
    flex: 1;
    font-weight: bold;
    background-color: $blue-gffl;
    color: $white;
    text-align: right;
    padding: 12px 16px 12px 0;
  }
}