// Fonts
// ========================================================
$base-font-family: 'Open Sans', sans-serif;

// Font Sizes
// ========================================================
$base-font-size: 16px;
$base-letter-spacing: 1.5px;

// Baseline
// ========================================================
$baseline-ratio: 1.5;
$baseline: $base-font-size * $baseline-ratio; // 24

// Line Heights
// ========================================================
$base-line-height: $base-font-size * $baseline-ratio; // rem(24)

// Font Weights (for Open Sans)
// ========================================================
$font-light: 300; // light
$font-regular: 400; // normal
$font-semibold: 600; // semibold

// Main Palette: highlights, backgrounds, objects
// ========================================================
$red-gffl: #d50a0a;
$red-light: #f54444;
$red-lightest: #ff6c6c;
$red-medium: #b40a0a;
$red-dark: #8a0000;

$blue-gffl: #013469;
$blue-light: #03468c;
$blue-lightest: #0657ac;
$blue-white: #cee5fd;
$blue-medium: #012b57;
$blue-dark: #001a36;

$gray-medium: #333333;
$gray: #7f7f7f;
$gray-light: #cccccc;
$gray-lightest: #eeeeee;
$gray-dark: #0a0a0a;

$white: #ffffff;
$black: #000000;

// Extra Colors
// ========================================================
$green: #15c26b;
$green-medium: #0f8a4d;
$green-dark: #084526;

// Font Colors
// ========================================================
$base-font-color: $gray-dark;
$base-link-color: $blue-gffl;
$heading-font-color: $gray-dark;
$max-text-width: 780px; // 8 cols
$max-hero-text-width: 580px; // 6 cols

// Spacing + Padding
// ========================================================
$small-spacing: $base-line-height / 2; // 12px
$base-spacing: $base-line-height; // 24px
$medium-spacing: $base-line-height * (3/2); // 36px;
$large-spacing: $base-line-height * 2; // 48px;
$xlarge-spacing: $base-line-height * (5/2); // 60px;

$header-spacing: $base-line-height * 4; // 96px;

// Animations
// ========================================================
$base-duration: 0.3s;
$base-timing: ease;

// Borders
// ========================================================
$base-border-color: $gray-light;
$base-border: 1px solid $base-border-color;
$dark-border-color: $gray-medium;
$dark-border: 1px solid $dark-border-color;

// Border Radius
// ========================================================
$base-border-radius: 6px;
$secondary-border-radius: 4px;

// Shadows
// ========================================================
$drop-shadow-center: 0px 1px 20px 0px rgba($gray-medium, 0.2);
$drop-shadow-right: 5px 5px 25px 0px rgba($gray-medium, 0.2);
$drop-shadow-hover: 2px 4px 8px 0px rgba($gray-medium, 0.2);
$drop-shadow-footer: 12px 16px 20px 0px rgba($gray-medium, 0.2);

// Buttons
// ========================================================
$button-size-sm: 180px;
$button-size-reg: 220px;
$button-size-lg: 280px;
$button-height: 48px;
$button-padding: 0 8px;
$button-font-size: 13px;
$button-line-height: 42px;
$button-border-width: 2px;
$button-border-radius: $secondary-border-radius;
$button-letter-spacing: $base-letter-spacing;
$button-drop-shadow: 8px 10px 20px 0px rgba($gray-medium, 0.15);
$button-drop-shadow-hover: 2px 4px 8px 0px rgba($gray-medium, 0.2);

// Cards
// ========================================================
$card-box-shadow: $drop-shadow-right;
$card-box-shadow-hover: $drop-shadow-hover;
$card-border-radius: $base-border-radius;

// Forms
// ========================================================
$form-font-size: 14px;
$form-font-color: $gray-medium;
$form-height: 42px;
$form-padding: 0 10px;
$form-border-radius: $secondary-border-radius;
$form-drop-shadow: 5px 5px 10px 0 rgba($gray-medium, 0.05);
$form-drop-shadow-hover: 0 4px 8px 0 rgba($gray-medium, 0.12);
$form-drop-shadow-focus: 5px 5px 10px 0 rgba($gray-medium, 0.05);
$form-element-drop-shadow: 0 2px 5px 0 rgba($gray-medium, 0.08);
