@import '../../../assets/styles/helpers/variables';

.division-card {
  width: 100%;
  background: $white;
  border: 1px solid $gray-light;
  border-radius: $card-border-radius;
}

.division-row {
  display: flex;
  align-items: center;
  padding: 6px 12px 6px;
  border-bottom: 1px dotted $gray-light;
  font-size: 13px;
  &:last-of-type {
    border-bottom: none;
  }
  &__name {
    flex: 4;
  }
  &__wins,
  &__losses,
  &__ties {
    text-align: center;
    flex: 1;
    color: $gray-medium;
  }
}

.division-row-header {
  border-bottom: 2px solid $gray-light;

  > div {
    font-weight: bold;
    font-size: 16px;
    color: $blue-gffl;
  }
}