@import '../../assets/styles/helpers/variables';

.actions {
  position: absolute;
  top: 37px;
  right: -4px;
  border: $base-border;
  background: $white;
  border-radius: 4px;
  box-shadow: $card-box-shadow;
  max-height: 70vh;
  overflow: scroll;
  z-index: 5000;
  &__list {
    width: 200px;
    &--item {
      width: 100%;
      display: block;
      text-align: left;
      padding: 6px 12px;
      color: black;
      &:hover {
        cursor: pointer;
        background: $gray-lightest;
      }
      a {
        text-decoration: none;
        color: black !important;
        &:hover {
          color: black !important;
        }
      }
    }
  }
}
