@import '../../assets/styles/app';

.field {
  margin-bottom: 16px;
}

label {
  margin-bottom: 6px;
}

.button {
  button {
    margin: 24px auto 0;
  }
}

.error-message {
  color: $red-gffl;
  text-align: center;
}
